[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Software;

X-SuSE-YaST-Call=online_update_configuration
X-SuSE-YaST-RootOnly=false
X-SuSE-YaST-Group=Software
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-AutoInstClonable=true
X-SuSE-YaST-AutoInstRequires=lan,proxy
X-SuSE-YaST-AutoInstSchema=online_update_configuration.rnc

Icon=yast-online_update
Exec=/sbin/yast2 online_update_configuration

Name=Online Update Configuration
GenericName=Online Update Configuration
StartupNotify=true
