[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Software;

X-SuSE-YaST-Call=scc
X-SuSE-YaST-Argument=select_extensions
X-SuSE-YaST-RootOnly=yes
X-SuSE-YaST-Group=Software

Icon=yast-addon
Exec=/usr/bin/xdg-su -c "/sbin/yast2 scc select_extensions"

Name=Add System Extensions or Modules
GenericName=Add System Extensions or Modules
StartupNotify=true
