[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Software;

X-SuSE-YaST-Call=scc
X-SuSE-YaST-Argument=select_extensions
X-SuSE-YaST-RootOnly=yes
X-SuSE-YaST-Group=Software
X-SuSE-YaST-Keywords=extensions,modules,software,registration,scc,package,repositories
X-SuSE-YaST-WSL=true

Icon=yast-addon-extension
Exec=/usr/bin/xdg-su -c "/sbin/yast2 scc select_extensions"

Name=YaST System Extensions
GenericName=System Extensions
Comment=Select System Extensions or Modules
StartupNotify=true
